body{
    
}
.head{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    background-image: url("plant-background.jpg");
    background-size: 100% 100%;
    padding-top: 30px;
}
.head .nav{
    width: 90%;
    margin: 0 auto;
    height: 50px;
}
.head .nav .logo{

}
.logo-hand{
    width: 17px;
    height: 14px;;
}
.logo{
    width: 60px;
    height: 12px;;
}
.head .nav ul{
    float: right;
    margin-right: 40px;
}
.head .nav ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
}
.head .nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
}
.hero{
    color: #fff;
    font-family: Roboto;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    margin-top: 50px;
}
.hero .heading{
    font-size: 42px;
    font-weight: 500;
    font-family: Roboto;
}
.hero .theme{
    font-size: 20px;
    line-height: 30px;
}
.hero button{
    background-color: rgb(43, 119, 8);
    color: #fff;
    border: none;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
}
.hero button:hover{
    background-color: rgb(34, 124, 34);
}
.section{
    width: 31%;
    margin-left: 130px;
    height: 400px;
    text-align: justify;
    font-family: Roboto;
    line-height: 30px;
}
.section ul{
    margin-left: -24px;
}
.phone-image{
    position: absolute;
    margin: -350px 0 0 700px;
}
.section h3{
    font-size: 30px;
}
.section .under{
    width: 400px;
}
.section .under hr{
    border: 1px solid green;
}
.section .top-button{
    background-color: rgb(43, 119, 8);
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    /* margin-top: 30px; */
    font-weight: 300;
    font-size: 12px;
}